@media screen and (max-width: 360px) {
    .flex-container {
        display: flex;
        flex-flow: row;
    }
}

/* Layout CSS */
body, header, section, aside, footer, body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body{
    max-width: 1440px;
    margin: auto;
}

header{ 
    background: #03a9f4;
}

h1{
    font-size: 20px;
    margin: 10px 0px 0px 0px;
}

h3{
    font-size: 15px;
    margin: 0px 0px 10px 0px;
}

.hero {
    background: #d22b1f;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F2F2F2;
    border-radius: 20px;
    flex-direction: column;
    min-height: 520px;
    padding: 40px;
    margin: 20px;
}
.row { 
    display: flex;
    max-width: 800px;
    justify-content: space-between;
}

footer {
    border: 1px solid #000000;
    background: #616161;
}

/* content */
i{
    color: #0065FC;
    margin: 0px 0px 5px 0px;
    font-size: 12px;
}

.card{ 
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
}

.card h4{
    font-weight: bold;
    font-size: 14px;
}

.card h4, p{
    margin: 0px;
    padding: 3px 15px;
}

.card img{
    object-fit: cover;
}
/* Accommodations */
.acommodation{
    flex-flow: column wrap;
}

.acommodation img{
    padding: 5px;
    width: 236px;
    height: 114px;
    border-radius: 20px 20px 0 0 ;
}

/* popular */
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px -5px;
}

.popular{
    display:flex;
    min-width: 342px;
}

.popular img{
    padding: 5px;
    width: 126px;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
}

/* Activities */
.column {
    display:flex;
    flex-direction: column;    
    justify-content: space-between;
    min-height: 446px;
}
.activity {
    display: flex;
    justify-content: space-between;
    max-width: 1338px;
}
.actvities {
    display:flex;   
    flex-direction: column;
}
.activities img{
    width: 302px;
    border-radius: 20px 20px 0 0 ;
}

.activities h4{
    padding: 20px;
}
.tall img{
    min-height: 388px;
}
.card1 img{
    max-height: 180px;
}
.card2 img{
    max-height: 108px;
}
.card3 img{
    max-height: 138px;
}
.card4 img{
    max-height: 150px;
}